@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To GameEnter</h1>
    <p>Checkout <a href="https://localhost:44344/gamemodels/index">Our Games</a>.</p>
</div>
