@page "/gamemodels/edit"
@model GameEnter.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>GameModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameModel.Id" />
            <div class="form-group">
                <label asp-for="GameModel.Title" class="control-label"></label>
                <input asp-for="GameModel.Title" class="form-control" />
                <span asp-validation-for="GameModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameModel.ReleaseDate" class="control-label"></label>
                <input asp-for="GameModel.ReleaseDate" class="form-control" />
                <span asp-validation-for="GameModel.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameModel.Genre" class="control-label"></label>
                <input asp-for="GameModel.Genre" class="form-control" />
                <span asp-validation-for="GameModel.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GameModel.GamePicture" style="width: 100%;"></label>
                    @if (Model.GameModel.GamePicture != null)
                    {
                        <img id="gamePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.GameModel.GamePicture))">
                    }
                    else
                    {
                        <img id="gamePicture" style="width:350px;height:350px; object-fit:cover" src="">
                    }
                    <input type="file"
                           accept=".png,.jpg,.jpeg,.gif,.tif"
                           asp-for="GameModel.GamePicture"
                           class="form-control"
                           style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                           onchange="document.getElementById('gamePicture').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="GameModel.GamePicture" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
